# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.bak

# Logs
*.log

*.hdf5
_temp*/
data/processed_data_1k_5k_final.zip
data/jtext.md
data/figures/AXUV.png
data/figures/Mirnov.png
data/figures/SXR.png
